// Fonts
$primary-font: "Montserrat", serif;
$secondary-font: "Fraunces", sans-serif;

// Colors
$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

// ROOT
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  font-size: 14px;
  font-family: $primary-font;
  background-color: $cream;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.text-center {
  text-align: center;
  margin-top: 40px;
}

//

.container {
  margin: 30px auto;
  padding: 0 30px;

  .grid {
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $white;
    border-radius: 10px;
    overflow: hidden;

    .image {
      img {
        max-width: 100%;
        display: inherit;
      }
    }

    .content {
      padding: 30px;

      h6 {
        font-size: 14px;
        text-transform: uppercase;
        color: $dark-grayish-blue;
        letter-spacing: 5px;
        margin: 20px 0;
        font-weight: 100;
      }
      h2 {
        font-size: 35px;
        font-family: $secondary-font;
        margin-bottom: 20px;
        color: $very-dark-blue;
      }
      .first-p {
        color: $dark-grayish-blue;
        line-height: 1.8;
        margin-bottom: 20px;
      }
      .card__price {
        display: flex;
        gap: 50px;
        align-items: center;
        margin-bottom: 20px;

        .new-price {
          font-size: 36px;
          color: $dark-cyan;
          font-family: $secondary-font;
        }
        .old-price {
          font-size: 16px;
          color: $dark-grayish-blue;
          text-decoration: line-through 1px solid;
        }
      }

      .button {
        width: 100%;
        position: relative;
        img {
          position: absolute;
          top: 50%;
          left: 29%;
          transform: translate(-50%, -50%);
        }

        button {
          width: 100%;
          padding: 20px;
          background-color: $dark-cyan;
          text-align: center;
          gap: 5px;
          border: none;
          cursor: pointer;
          border-radius: 10px;
          color: $white;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }
}

// desktop
@media (max-width: 628px) {
  .container {
    .grid {
      grid-template-columns: 1fr;

      .image {
        img {
          max-height: 450px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .container {
    margin: 15px 0;
    padding: 0 15px;

    .grid {
      .image {
        img {
          max-height: 290px;
        }
      }
      .content {
        padding: 24px;

        h6 {
          margin: 10px 0;
        }

        h2 {
          font-size: 28px;
          margin-bottom: 10px;
        }

        .first-p {
          margin-bottom: 10px;
        }

        .card__price {
          margin-bottom: 10px;

          .new-price {
            font-size: 24px;
          }
          .old-price {
            font-size: 14px;
          }
        }
        .button {
          button {
            padding: 10px;
          }
        }
      }
    }
  }
}
